h1{
    font-size: 10 rem;
    color: black;   

}


 body{
    background-color:rgb(207, 233, 255)
 }
.body{
    
    
    margin:0 auto; ;
 padding: 45px 25vw ;
    
    
    

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  
  

    
}
.feat{
    padding: 0 20vw ;
    border-bottom: 2px rgb(207, 207, 207) solid;
}
.head{
    font-size: 2rem;
    color: black;
    
    
}

.intro{
    font-size: 1.3rem;
    color: rgb(107, 107, 107);
}
.bottom{
    
   
    color:black;
    padding: 0 20vw;
    
}